h1{color: rgb(158, 59, 59) !important;
    font-size: 20px;
 }

 body{
    background-color: rgb(222, 71, 202);
 }
 .bg-gree{
    background-color: green;
 }
 .font-50{
    font-size: 50px;
 }
 .font-50:hover{
    font-size: 100px;
    background-color:black;
 }
 body:hove{
    background-color:red;
 }
 img:hover{
    border: 5px black solid;
    transform: rotate(45dag);
 }